 /*guide-registration page*/

 .registration-container {
    width: 600px;
    margin: 50px auto;
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    color: #333;
}

form input, form textarea, form button {
    width: 100%;
    display: flex;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}



/*Guide list*/

body {
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.specialization-section {
    margin-bottom: 30px;
}

h2 {
    color: #2c3e50;
    text-align: left;
}

.guide-card {
    background-color: #f4f4f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
}

.guide-card img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.guides {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    margin: 5px 0;
}
